<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--  
        <h1>if conditions</h1> 
        {% if a > b %}
            <h1>if condition is true</h1>
        {% endif %} -->


        <!--  
        <h1>if else conditions</h1>
        {% if a > b %}
        <h1>if conditions is true</h1>
        {% else %}
        <h1>else block execute</h1>
        {% endif %}
        --->
        <!--  
        <h1>if elief else conditions</h1>
        {% if a > b %}
            <h1> {{a}} a is high if block execute</h1>
        {% elif b > c %}
            <h1>{{b}} is high elief block ececute</h1>
        {% else %}
            <h1> {{c}} c is high else block execute</h1>
        {% endif %}
        --->



        

    </center>
</body>
</html>